<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdam">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDAM">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".views.PPAAyuda"
            android:label="Ayuda"
            android:parentActivityName=".views.PPAActivity"/>

        <activity
            android:name=".views.PPAAbout"
            android:label="Acerca de ..."
            android:parentActivityName=".views.PPAActivity" />
        <activity
            android:name=".views.propiedad.PropInfo"
            android:label="Datos del inmueble "
            android:parentActivityName=".views.PPAActivity" />
        <activity
            android:name=".views.propiedad.PropSeachAttr"
            android:label="Ajustes de busqueda"
            android:parentActivityName=".views.PPAActivity" /> <!-- propiedad START -->
        <activity
            android:name=".views.propiedad.PropiedadLayout"
            android:label="Inmueble"
            android:parentActivityName=".views.propiedad.PropiedadesActivity" />
        <activity
            android:name=".views.propiedad.PropiedadesActivity"
            android:label="@string/title_activity_propiedad"
            android:parentActivityName=".views.PPAActivity"
            android:theme="@style/Theme.PDAM.NoActionBar" /> <!-- propiedad END -->
        <!-- usuario START -->
        <activity
            android:name=".views.usuario.UserLayout"
            android:parentActivityName=".views.PPAActivity" /> <!-- usuario END -->
        <!-- auth START -->
        <activity
            android:name=".views.identificacion.AuthMainActivity"
            android:label="Identificación"
            android:parentActivityName=".views.PPAActivity" />
        <activity
            android:name=".views.identificacion.LogearseActivity"
            android:label="Login"
            android:parentActivityName=".views.identificacion.AuthMainActivity" />
        <activity
            android:name=".views.identificacion.RegistrarseActivity"
            android:label="Creación de una cuenta nueva"
            android:parentActivityName=".views.identificacion.AuthMainActivity" /> <!-- auth END -->
        <!-- app START -->
        <activity android:name=".views.PPAActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>